/*  General
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
body {
	background: #57534C;
  color: #F1F1F1;
  width: 100%;
  margin: 0;
	padding: 0;  
}
a {
  color: #75A3BF;
  text-decoration: none;
}
p {
	font-family: 'Crimson Text', serif;
	font-size: 1.1em;
}
main {
	float: left;
	width: 90%;
	margin: 0 5%;
}



/*  Header
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
#page-header {
	width: 100%;	
	background: #F1F1F1;
	float: left;
	margin: 15px 0;
	border-bottom: #000 solid 3px;
	border-top: #000 solid 3px;
}
.site-title {
	margin: 7px 0;
	color: #57534C;
	font-weight: 300;
	padding-left: 5%;
}
.site-title small {
	font-size: .4em;
}
.icon-nav {
	background: #75A3BF;
	border-top: #7e0909 solid 5px;
	float: right;
	width: 100%;
	padding-right: 3%;
}
.icon-nav a {
	float: right;
	padding-right: 15px;
	padding-top: 2px;
}
.social-icon {
	width: 20px;
	height: 20px;
}

/*  Footer
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
.footer {
	width: 100%;
	text-align: center;
	color: #303030;
}
.footer a {
	font-family: 'Crimson Text', serif;
	color: #7e0909;
}


/*  Content
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */
.page,
.post {
  margin: 10%;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}



/*  Pagination
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */ 
/* Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */
.pagination {
  overflow: hidden; /* clearfix */
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}
/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border-top: 1px solid #f1f1f1;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #F1F1F1;
}
