<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="Cameron Bull's blog about tech, gear, apple, web, development, design and whatever else">
	<meta name="keywords" content="tech blog web development design apple gear">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600|Maven+Pro:400,500' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/icon-32.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/icon-32.png">
  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
